html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font: 16px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  
  color: #666666;
  height: 100%;
  line-height: 1;
  margin: 0px;
}

.stevenihan__navigation {
  text-align: right;

  padding: 20px 20px 0px;
  z-index: 100;   
}

.stevenihan__navigation-a {
  text-decoration: none;

  color: #5BADF0;
  font-size: 13px;
  line-height: 1.35;
  padding: 8px;
}

.stevenihan__navigation-a:hover {
  text-decoration: underline;
}

.stevenihan__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 600px; 
}

.stevenihan__header {
  text-align: center;

  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 40px;  
  padding-bottom: 40px;
  padding-top: 100px;
}

.stevenihan__header-avatar {
  background-color: #222222;
  color: #FFFFFF;
  
  border-radius: 50%;
  height: 80px;
  width: 80px;
  line-height: 80px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
}

.stevenihan__header-title {
  color: #222222;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: -2px;
  margin: 0px;
}

.stevenihan__header-subtitle {
  color: #666666;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3em;
  margin-top: 12px;
}

.stevenihan__container {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.stevenihan__content {
  flex: 1;
}

.stevenihan__kaspay {
  text-decoration: none;

  color: #008DDF;
  font-weight: 400;
}

.stevenihan__footer-p {
  color: #999999;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 0px;
}

.stevenihan__bobby {
  margin-bottom: 0px;
}

.stevenihan__bobby-a {
  text-decoration: none;

  color: #666666;
  font-weight: 500;
}